@page "/"
@inject IJSRuntime JSRuntime

<h1>Remember Password</h1>

<Form @ref="form" Model="@model"
      ValidateOnChange="@true"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed"
      LabelColSpan="8"
      WrapperColSpan="16">

    <FormItem Label="Domain">
        <Input @bind-Value="@context.Domain" />
    </FormItem>

    <FormItem Label="Email">
        <Input @bind-Value="@context.Email" />
    </FormItem>

    <FormItem Label="Password">
        <InputPassword @bind-Value="@context.Password" />
    </FormItem>

    <FormItem Label="Range">
        <Input @bind-Value="@context.Range" />
    </FormItem>

    <FormItem Label="Step">
        <Input @bind-Value="@context.Step" />
    </FormItem>

    <FormItem WrapperColOffset="8" WrapperColSpan="16">
        <Button Type="@ButtonType.Primary" HtmlType="submit" Disabled="!form.IsModified">
            Submit
        </Button>
    </FormItem>
</Form>

<AntDesign.TextArea Value="@GeneratedPassword" />

@*<div class="form-inline" >
        <input class="form-control" readonly type="text" value="@GeneratedPassword" />
        <button type="button" class="btn btn-primary" @onclick="CopyTextToClipboard">Copy</button>
    </div>*@